@charset "UTF-8";
/* Scss Document */
/*=============================================
 * body
 *=============================================*/
body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.05em;
  background: #fff;
  min-width: inherit;
  min-height: inherit;
  max-height: 100%;
}
/*=============================================
 ******************* main **********************
 *=============================================*/
main {
  clear: both;
  width: 100%;
  position: relative;
}
body, main {
  overflow-x: hidden;
}
.wrap {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/*=============================================
 ******************* nav-fixed ****************
 *=============================================*/
header .toggle-button {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  width: 30px;
  height: 15px;
  align-items: center;
  margin: 0 auto;
  padding: 24px 10px 11px 10px;
  background: #27B3FC;
}
.menu-open header .toggle-button:after {
  content: '';
}
header .toggle-button .button {
  height: 3px;
  width: 30px;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0ms .2s;
  transition: all 0ms .2s;
  display: block;
}
header .toggle-button .button:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 5px;
  background: #fff;
  -webkit-transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button .button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 5px;
  background: #fff;
  -webkit-transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active {
  background: transparent;
}
header .toggle-button.active .button {
  background: transparent;
}
header .toggle-button.active .button:before {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active .button:after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active .close {
  transition-delay: .3s;
  opacity: 1;
}
header #key {
  background: url(../img/index/key.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 30px 0;
}
header #key .form {
  max-width: 300px;
}
header #key .form h2 {
  font-size: 22px;
  line-height: 28px;
  color: #277AFC;
  font-weight: bold;
  margin-bottom: 10px;
}
header #key .form .form_input {
  width: 80%;
  margin-bottom: 20px;
}
header #key .form .form_input .input-group {
  margin-bottom: 5px;
}
header #key .form .form_input .input-group .input-text {
  display: block;
  padding-left: 5px;
}
header #key .form .form_input .input-group:last-child {
  margin-bottom: 0;
}
header #key .form .btn {
  background: #1ABC9C;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  border: none;
  width: 80%;
}
header #key .form .btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
header .row {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
header .row .nav-inline {
  letter-spacing: 0;
  align-items: center;
  margin: auto 0;
}
header .row .nav-inline div {
  letter-spacing: 0.05em;
  padding: 0 25px;
}
header .row .nav-inline div a {
  display: inline-block;
  padding: 10px 0;
}
header .row .nav-inline div a:hover {
  text-decoration: none;
  opacity: 0.8;
}
header .nav-fixed {
  position: relative;
  top: 0;
  left: 0;
  transition: .5s all;
  width: 100%;
  color: #000;
  z-index: 66;
  background: #27B3FC;
  text-align: center;
  padding: 10px 0;
}
header .nav-fixed .nav-inline {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
header .nav-fixed .nav-inline a {
  padding: 0 10px;
}
header .nav-fixed .nav-inline a:hover {
  text-decoration: none;
  opacity: 0.8;
}
header .nav-fixed.fixed {
  position: fixed;
}
input[type=text] {
  width: 100%;
  padding: .4rem .4rem .4rem .2rem;
  box-sizing: border-box;
}
select {
  display: block;
  width: 100%;
  padding: .4rem .4rem .4rem .5rem;
  -moz-padding-start: calc(0.75rem - 3px);
  background-color: #fff;
  background-image: url("../img/shared/download.svg");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ddd;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.tabs-switch {
  color: #555;
}
.tabs-switch .tab-link {
  width: 90%;
  margin: auto;
}
.tabs-switch .tab-link li {
  padding: 20px 10px;
  font-weight: bold;
  font-size: 20px;
}
.tabs-switch .tab-link li + li {
  margin-left: 20px;
}
.tabs-switch .tab-link .active {
  color: #000;
}
.tabs-switch .tab-content .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.tabs-switch .tab-content .row .item {
  width: 32%;
  background: #fff;
}
.btn-join {
  background: #1ABC9C;
  border-radius: 3px;
  font-size: 20px;
}
footer {
  background: #27B3FC;
  color: #fff;
  padding: 50px 0;
}
footer .wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
footer .wrap .logo {
  align-items: center;
  margin: auto 0;
}
footer .wrap .btn {
  height: auto;
  align-items: center;
  margin: auto 0;
  padding: 5px 10px 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .wrap .btn a:hover {
  text-decoration: none;
  opacity: 0.8;
}
/*=============================================
===============================================
===============================================
*************** responsive header ************
===============================================
===============================================
*=============================================*/
/*@media screen and (max-width: $width-wrap - 1px) and (min-width: $width-sp) {	*/
@media only screen and (max-width: 999px) {
  #head-top {
    padding: 0 0 60px;
  }
  .nav-header .nav {
    display: block;
    padding-top: 15%;
    height: auto;
  }
  .nav-header .logo-nav {
    margin: auto;
  }
  .nav-header a.nav-main {
    padding: 5px 22px;
    font-size: 16px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
  }
  .nav-header .sub-nav span {
    padding: 0 10px;
    font-size: 16px;
  }
  .nav-header li.active a.nav-main::before {
    width: 40%;
    height: 1px;
    background: #3b2718;
    content: "";
    position: absolute;
    bottom: 5px;
    left: 30%;
  }
  .nav-header a.nav-main span {
    padding: 5px 30px;
  }
  .nav-header a.nav-main::after, .nav-header .sub-nav::after {
    display: none;
  }
  .nav-header .sub-box {
    opacity: 1;
    visibility: visible;
    position: inherit;
    top: inherit;
    left: initial;
    width: auto;
    padding: 0 25px;
  }
  .nav-header .tel-icon {
    padding-left: 0;
    width: 100%;
    border-left: none;
  }
  .head-info {
    margin-right: 0px;
    display: none;
  }
  #key-box {
    width: 100%;
  }
  .header-box {
    display: flex;
    align-items: center;
  }
  header h1 {
    font-size: 1.8vw;
    padding: 5px 5px 0;
    width: 60%;
    line-height: 1.8;
  }
  .hamberger-btn {
    position: fixed;
    top: 17px;
    right: 2%;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 201;
    transition: all 0.4s ease;
    overflow: hidden;
  }
  .hamberger-btn::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "MENU";
    text-align: center;
    font-size: 10px;
    line-height: 20px;
  }
  .hamberger-btn span {
    width: 35px;
    height: 2px;
    position: absolute;
    top: 35%;
    transform: translate3D(-50%, -50%, 0);
    left: 50%;
    background: #000;
  }
  .hamberger-btn span::before, .hamberger-btn span::after {
    width: 35px;
    height: 2px;
    position: absolute;
    left: 0;
    background: #000;
    content: "";
  }
  .hamberger-btn span::after {
    top: -8px;
  }
  .hamberger-btn span::before {
    top: 8px;
  }
  .nav-header .sub-nav::before {
    display: none;
  }
  .menu-open .hamberger-btn {
    transform: rotate(360deg);
  }
  .menu-open .hamberger-btn span {
    transform: rotate(140deg) translateX(20px);
    top: 5px;
    left: 46%;
  }
  .menu-open .hamberger-btn span::after {
    transform: rotate(-105deg) translateX(0px);
    top: 0;
  }
  .menu-open .hamberger-btn::after {
    content: "CLOSE";
  }
  .menu-open .hamberger-btn span::before {
    opacity: 0;
  }
  .nav-header {
    width: 100%;
    height: 100vh;
    background: #FFF;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.5s ease;
    opacity: 1;
  }
  .menu-open .nav-header {
    left: 0%;
    visibility: visible;
    overflow: auto;
  }
  header .mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 80px;
    z-index: 990;
    background: rgba(26, 17, 12, 0.8);
    opacity: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
  }
  .menu-open header .mobile-nav {
    background: #27B3FC;
    opacity: 1;
    pointer-events: initial;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .menu-open header .mobile-nav .nav-inline a {
    display: block;
    padding: 5px 0;
  }
  .menu-open header .mobile-nav .nav-inline a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
  }
  .js-scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .hide-nav {
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  header h1 {
    width: calc(70% - 80px);
    font-size: 2.2vw;
    padding: 5px;
  }
  .hamberger-btn {
    top: 10px;
  }
  #key-box {
    height: 450px;
  }
  #key-box .keyvisual li {
    height: 450px;
  }
}
@media only screen and (max-width: 767px) {
  .bg-parallax {
    position: relative;
    height: auto !important;
    min-height: auto;
  }
  .bg-parallax .img_parallax {
    clip: rect(0, auto, auto, 0);
    margin-bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .bg-parallax .img_parallax img {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    z-index: 0;
    transform: translateZ(0);
  }
  body {
    font-size: 12px;
    line-height: 26px;
  }
  .fl {
    float: none;
  }
  .fr {
    float: none;
  }
  header #key {
    background: url(../img/index/key.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
  }
  header #key .form {
    max-width: 80%;
    margin: 0 auto;
  }
  header #key .form .form_input {
    width: 100%;
  }
  header #key .form .btn {
    width: 100%;
  }
  header .row {
    flex-wrap: wrap;
  }
  header .row .nav-inline {
    width: 100%;
  }
  header .row .nav-inline div a {
    padding: 0;
  }
  header .row .nav-inline div:first-child {
    padding: 0 10px 0 0;
  }
  header .row .nav-inline div:last-child {
    padding: 0 0 0 10px;
  }
  header .row .logo {
    width: 50%;
    margin-bottom: 10px;
  }
  header .nav-fixed {
    position: fixed;
  }
  .tabs-switch .tab-link {
    width: 100%;
  }
  .tabs-switch .tab-link li {
    padding: 20px 0;
    font-weight: bold;
    font-size: 16px;
  }
  .tabs-switch .tab-link li + li {
    margin-left: 10px;
  }
  .tabs-switch .tab-link .active {
    color: #000;
  }
  .tabs-switch .tab-content .row {
    flex-wrap: wrap;
  }
  .tabs-switch .tab-content .row .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .tabs-switch .tab-content .row .item:last-child {
    margin-bottom: 0;
  }
  footer .wrap {
    flex-wrap: wrap;
  }
  footer .wrap .logo {
    width: 50%;
    margin: 0 0 20px 0;
  }
  footer .wrap .btn {
    font-size: 16px;
    margin-top: 20px;
  }
  footer .wrap ul {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
}
/*=============================================
 ******************* footer *******************
 *=============================================*/
/*=============================================
***************** copyright ******************
*=============================================*/
#pagetop {
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 0;
  right: 0;
}
#pagetop:hover {
  opacity: 0.9;
}
#socialbuttons {}
address {}
address span {
  display: block;
}
@media only screen and (max-width: 999px) {
  #fixed-sp {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #27B3FC;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .fixed-btn #fixed-sp {
    opacity: 1;
  }
  #fixed-sp ul {
    display: flex;
  }
  #fixed-sp ul li {
    width: 50%;
    height: 50px;
  }
  #fixed-sp ul li:nth-child(2) {
    border-left: 2px solid #fff;
  }
  #fixed-sp ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #FFF;
    font-family: 'Noto Serif JP', serif;
  }
  #fixed-sp ul li a img {
    height: 50px;
    width: auto;
  }
  #pagetop {
    bottom: 55px;
    width: 50px;
    z-index: 98;
  }
}
/*=============================================
===============================================
===============================================
*************** css for iphone 5 ************
===============================================
===============================================
*=============================================*/
/* iPhone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .has_nav footer:after {
    background-color: transparent;
    content: '';
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
  }
  #fixed-sp {
    padding-bottom: calc(env(safe-area-inset-bottom) - 0px);
  }
}
/* iPhone XR */
@media only screen and (min-device-width: 414px) and (min-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .has_nav footer:after {
    background-color: transparent;
    content: '';
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
  }
  #fixed-sp {
    padding-bottom: calc(env(safe-area-inset-bottom) - 0px);
  }
}
/* iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2), @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3), @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .has_nav footer:after {
    background-color: transparent;
    content: '';
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
  }
  #fixed-sp {
    padding-bottom: calc(env(safe-area-inset-bottom) - 0px);
  }
}
/*=============================================
===============================================
===============================================
***************** css for ie 11 ***************
===============================================
===============================================
*=============================================*/
.slick-slider {
  z-index: 0;
}
.slick-track {
  will-change: transform;
}
.slick-slide * {
  transform: translate3d(0, 0, 0)
}
/* slick arrows custom */
.slick-arrow {
  width: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: transparent;
  font-size: 0;
  position: relative;
  position: absolute;
  top: 50%;
  z-index: 9;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-arrow:after {
  font-size: 50px;
  color: #27B3FC;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
}
.slick-prev:after {
  content: '\f104';
}
.slick-next:after {
  content: '\f105';
}
/* slick dots custom */
.slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
}
.slick-dots li {
  width: 20px;
  height: 20px;
  line-height: 0;
  margin: 0 9px;
}
.slick-dots li button {
  width: 20px;
  height: 20px;
  border: 4px solid #27B3FC;
  background-color: #27B3FC;
  font-size: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.slick-dots li.slick-active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
  background-color: #fff;
}
@media only screen and (max-width: 999px) {
  .slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }
  .slick-dots li button {
    width: 12px;
    height: 12px;
    border: 2px solid #bd3f0e;
  }
  .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=text] {
    padding: .25rem .4rem .55rem .2rem;
  }
  footer .wrap .btn {
    height: 33px;
  }
  p.btn img:hover, .btn-over img, .over-img img, img.over, img:not(.btn):not(.non-over), button img {
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  }
  p.bnr img:hover, .bnr-over img, .over-img img, img.over, img:not(.bnr):not(.non-over), button img, p.logo img:hover {
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  }
}